data/
*~
*.tif
*.nc
*.zarr
*.png
*.csv
*.zip
*.pyc
.ipynb_checkpoints/
__pycache__/
!scripts/prototype/inp/prototypeNames.csv
!scripts/prototype/img/AOI.png
!scripts/prototype/out/prototype_cube/prototype_test.nc
.Rhistory
.RData
.Ruserdata
.Rproj.user/
