data/
scripts/dev_notebooks/
*~
*.tif
*.nc
*.zarr
*.png
*.csv
*.zip
*.pyc
*.env
.ipynb_checkpoints/
__pycache__/

# EXCEPTIONS: Allow CSVs in the meta directory
!meta/*.csv
!scripts/prototype/inp/prototypeNames.csv
!scripts/prototype/img/AOI.png
!scripts/prototype/out/prototype_cube/prototype_test.nc

# IGNORE R files
.Rhistory
.RData
.Ruserdata
.Rproj.user/
